:root {
    --main-bg-color: #2b2b2b;
    --primary-text-color: #e8e4d0;
    --secondary-text-color: #ffee88;
    --pink-color: #e8badd;
    --dark-color: #272838;
    --grey-color: #38464a; 
    --white-color: #F9F8F8;
}

body {
    background-color: var(--main-bg-color);
}

.head-image {
    max-width: 100%;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 2px;
    border-color: var(--dark-color);
}

.app-store-icons {
   max-width: 40%; 
   margin-top: 10%;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.new {
    margin-top: 10px;
}

.game {
    background-color: rgba(238,238,238,.4);
    border-radius: 4px;
    height: 100%;
}

.games-section-heading {
    text-align: center;
    color: var(--secondary-text-color);
    font-weight: bold;
    text-shadow: -2px 2px var(--dark-color);
}

.game-cover {
    margin-top: 2%;
}

.diffin-trailer {
    margin-top: .8%;
}

.action-call {
    color: var(--secondary-text-color);
    text-align: center;
}

.action-call-link {
    color: var(--primary-text-color);
}

.games-section-heading {
    text-align: center;
    color: var(--secondary-text-color);
    font-weight: bold;
    text-shadow: -2px 2px var(--dark-color);
}

.pool-party-img {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    display: block;
}

.balls-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ratings {
    color: var(--primary-text-color);
    text-align: center;
}

.hendys {
    margin-top: .8%;
}