:root {
    --main-bg-color: #2b2b2b;
    --primary-text-color: #e8e4d0;
    --secondary-text-color: #ffee88;
    --pink-color: #e8badd;
    --dark-color: #272838;
    --grey-color: #38464a;
    --white-color: #F9F8F8;
    --orange-color: #F0803C;
    --purple-color: #ad2bbb;
    --green-color: #76c066;
}

body {
    background-color: var(--main-bg-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    font-family: monospace;
    text-decoration: none;
    color: var(--purple-color);
}

a:hover {
    color: var(--green-color);
}

p {
    font-family: Helvetica, sans-serif;
    color: var(--dark-color);
}

h1 {
    text-align: left;
    color: var(--dark-color);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.content-card {
    background-color: var(--white-color);
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 2%;
    border-radius: 10px;
}

.orange-text {
    text-align: left;
    color: var(--orange-color);
    font-family: Helvetica, sans-serif;
}

.navbar-button {
    text-align: left;
    color: var(--dark-color);
    text-decoration: none;
    margin-bottom: .1rem;
    margin-top: .6rem;
}

.navbar-button:hover {
    color: var(--purple-color);
}

.description {
    margin-top: 5%;
}

.header {
    text-align: left;
    color: var(--dark-color);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.game-title {
    text-align: left;
    color: var(--dark-color);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.game-title:hover {
    color: var(--purple-color);
}

.recognitions {
    text-align: left;
    color: var(--dark-color);
    text-decoration: none;
    font-size: .9em;
    line-height: 1em;
}

.game-link {
    text-align: left;
    color: var(--dark-color);
    font-size: 1.2em;
    font-weight: bold;
}

.game-cover {
    margin-top: 2%;
    margin-bottom: 2%;
}