:root {
    --main-bg-color: #d293be;
    --primary-text-color: #639bff;
    --secondary-text-color: #ffee88;
    --dark-color: #272838;
    --white-color: #F9F8F8;
}

body {
    background-color: var(--main-bg-color);
}

a {
    color: var(--secondary-text-color);
}

.logo {
    border-style: solid;
    border: 2px;
    border-color: aqua;
}

.heading {
    font-weight: 300;
}

.website {
    font-size: 1em;
}
