:root {
  /* Old */
  --normal-text-color: #e8e4d0;
  --dark-text-color: #666;
  --heading-color: #e8badd;
  --highlight-color: #F0803C;

  /* Current */
  --main-bg-color: #2b2b2b;
  --pink-color: #e8badd;
  --dark-color: #272838;
  --grey-color: #38464a;
  --white-color: #F9F8F8;
  --orange-color: #F0803C;
  --purple-color: #ad2bbb;
  --green-color: #76c066;
}

body {
  background-color: var(--white-color);
  font-family: serif;
}

p {
  line-height: 1.6em;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.right {
  float: right;
  margin-left: 1em;
}

.left {
  float: left;
  margin-right: 1em;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .small {
    max-width: 60%;
    height: auto;
  }
}

.caption {
  margin-top: 0;
  font-size: 0.9em;
  font-style: italic;
}

a {
  color: var(--purple-color);
  text-decoration: none;
  font-family: "serif";
}

a:hover {
  color: var(--orange-color);
  text-decoration: underline;
}

li {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Garamond", serif;
  color: var(--dark-color);
}

#date {
  font-family: serif;
  font-style: italic;
  color: var(--normal-text-color);
}

/*#CONTAINER is the rectangle that contains everything but the background!*/
#container {
  margin: 3em auto;
  width: 90%;
  max-width: 700px;
  background-color: var(--white-color);
  color: #151515;
}

#content {
  padding: 10px 5% 20px 0;
}


/*HEADER STYLE*/
header {
  background-color: var(--white-color);
}

header ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
}

header li {
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

header li a {
  font-family: "serif";
  color: var(--purple-color);
  text-decoration: none;
  background-color: inherit;
}

header li a:hover {
  color: var(--orange-color);
}

/*FOOTER STYLE*/
footer {
  font-size: 0.8em;
}

/*CODE BLOCK STYLE */
pre {
  background: var(--white-color);
  border: 1px solid #ddd;
  border-left: 3px solid var(--purple-color);
  color: var(--dark-text-color);
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  white-space: pre-wrap;
}