
<head>
<title>Messing With Boids</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Messing With Boids</h1>
<h4 id="date">2025-03-05</h4>
<p>I am trying to recreate a small scene where you can stand and watch a crowd of birds move around you. For this, I am using Boids Algorithm which I have heard come up hear and there over the last few years.</p>
<p><a href="https://vanhunteradams.com/Pico/Animal_Movement/Boids-algorithm.html">This is a resource that I am finding useful</a></p>
<p>I'm building it using C and Raylib which is a direction I think I want to move more towards to build up a better understanding of how games work at a lower level. I'm also not using copilot because efficiency isn't the goal here, its learning.</p>
<p>So far the experience has been good! Would love a bit of a foreach iterator right now because the amount of iterating over arrays is creating a fair amount of typing but I can live with that.</p>
<p>My boid birds don't feel like birds yet. More like bouncing balls that slightly group up together but hopefully it will come together over the next few days.</p><footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>