
<head>
<title>Steam account created!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Steam account created!</h1>
<h4 id="date">2025-03-06</h4>
<p>I have been extremely on the fence about putting <a href="https://jamespoole.itch.io/wee-boats">Wee Boats</a> up on Steam. That's where the real games go! I'm scared of being ripped apart with bad reviews and refunds! &quot;What is this shit REFUND&quot; &quot;There was no game here REFUND&quot; &quot;This is way to short REFUND&quot;! However, after working on this thing for 2 years now, I feel like I have to put it out there, even for the sake of putting it out there!</p>
<p>The worst case scenario is that I get a understanding for this release process and its also giving me an opportunity to break through some walls of setup work that I won't have to do for following projects.</p>
<p>Yesterday, I just got my Steamworks account accepted by Valve. It took over a week of applying every day and getting declined overnight for different unclear reasons. Setting up a Steam account is something that has caused me months of procrastination but now that step is done. I'm free!</p>
<p>Next up, let's make this Wee Boats store page and try get some wishlists in! The ball is in my court now!</p>
<p>You can read other Wee Boats updates on the <a href="./weeboatsdevlog.html">devlog</a>!</p><footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>