
<head>
<title>Project 3D Newport</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Project 3D Newport</h1>
<h4 id="date">2021-05-28</h4>
<h1>Project Baile Uí 3Dacháin Intro</h1>
<p>I am trying to build some ideas for what I want to work on next but its not coming to me very easily. Instead of sitting around and feeling bad for myself while I have no class ideas, I'm going to work on this and hopefully it will trigger some ideas as I work on it.</p>
<h2>What is it?</h2>
<p>I want to build a 3D environment that you can walk around and explore. It could be a scene that I use in a future game or it might not. The point is just making the thing.</p>
<p>I am going to build a town because square buildings are a good start I reckon for someone who is new to 3D modeling. More specifically, Main Street, Newport in County Mayo is going to be my target. I am using a real town so that I have no excuse to stop working on the project for any lack of inspiration reasons. If I am feeling like I don't know what to do, I just take the next building and model that in its basic form. It will be a stylised interpretation of the town or in other words, very simple and blocky.</p>
<p>I will be using Blender to model my town and I will use Unity if I make a playable walkthrough version of the town. I would quite like to use the same scene to create different feelings like Newport if it was Sunny LA or if it was Silent Hill.</p>
<p>I don't know why Newport hasn't been the location used for many video games previous to this. Even the name sounds great even to say. Listen. Newport. Wow!</p>
<h2>What do I want to get out of this?</h2>
<p>Primarily, this is an exercise for me to work my way out of being stuck for ideas. Second reason would be that I have only ever dipped in and out of Blender. This would be a larger project for me to get stuck into. There are a few concepts like Texture Mapping that are core basics to working in 3D and I don't have a clue how they work. This would be an opportunity to get some exposure to those.</p>
<p>Also I find it very difficult to post my work to Twitter. This will give me something to post consistently about. Most posts are going to be extremely boring given that some buildings are going to just look like cubes but that will be part of the fun of it.</p>
<h2>What does Newport look like?</h2>
<p><img src="images/town.png" alt="town" /></p>
<p>Phenomenal</p>
<h2>Some References</h2>
<p><img src="images/ref1.png" alt="ref1" /></p>
<p><img src="images/ref2.png" alt="ref2" /></p>
<p><img src="images/ref3.png" alt="ref3" /></p>
<p><img src="images/ref4.png" alt="ref4" /></p>
<h2>Rules</h2>
<ol>
<li>I must use a colour palette which has no more than 4 colours.</li>
<li>I must post each new building and the resulting town scene to Twitter as I complete it.</li>
<li>I don't need to strictly stick to the real buildings of Newport. If some wave of inspiration comes to change up Walsh's Shoes and turn it into a medieval castle, I'll go with it. It could be the thing that triggers my next game.</li>
<li>I must spend no longer than 30 minutes on one building. Capture the essence of it and move on.</li>
<li>I must open source the model and any files associated with it.</li>
</ol><footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>