
<head>
<title>Bookmarks to Cool Places on the Web</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Bookmarks to Cool Places on the Web</h1>
<h4 id="date">2023-11-17</h4>
<p>I have discovered so much through finding people's personal websites and following to what they link to. This is my version of those pages with a list of some of the sites that have formed me. This is a living list that I am adding to.</p>
<h2>Tadi</h2>
<ul>
<li><a href="https://todepond.com">Todepond</a> - (So much from Lu's work is amazing. Sharing scrappy fiddles. Working on small, interesting projects. Working in the open. Live programming investigations. Wikibloggarden.)</li>
</ul>
<h2>Code</h2>
<ul>
<li><a href="https://thesephist.com/">Linus Lee</a></li>
<li><a href="https://tumbleforth.hardcoded.net/">Tumble Forth</a></li>
<li><a href="https://100r.co/site/uxn.html">Uxn</a></li>
<li><a href="https://jvns.ca/">Julia Evans</a></li>
<li><a href="https://ratfactor.com/">Dave Gauer</a> - (Cool engineer with lots of great writings and a super About page. Great piece on Forth)</li>
</ul>
<h2>Game Development</h2>
<ul>
<li><a href="https://edw.is/">Elias Daler</a> - (Building games from scratch. Writings on C and Lua)</li>
<li><a href="https://pikuma.com/blog">Pikuma</a> - (Understanding game development fundamentals and mathematics)</li>
</ul>
<h2>Permacomputing</h2>
<ul>
<li><a href="https://wiki.xxiivv.com/site/home.html">XXIIVV</a></li>
<li><a href="https://100r.co">Hundred Rabbits</a></li>
<li><a href="http://akkartik.name/feed">Kartik Agaram</a> - (Building Freewheeling Apps using Lua and Love2D)</li>
<li><a href="https://leetusman.com/nosebook/feed.xml">Lee Tusman</a> - (Artists and Hackers Podcast. Interesting writings.)</li>
</ul>
<h2>Handmade Web</h2>
<ul>
<li><a href="https://html.energy">html.energy</a></li>
<li><a href="https://j3s.sh/">Jes</a></li>
<li><a href="https://laurelschwulst.com/">Laurel Schwulst</a></li>
<li><a href="https://handmade-web.net/index.html">Handmade Web</a></li>
<li><a href="https://thehtml.review/">The HTML Review</a></li>
</ul>
<h2>Low Tech</h2>
<ul>
<li><a href="https://idlewords.com/talks/website_obesity.htm">The Web's Obesity Crisis</a></li>
<li><a href="http://www.aptivate.org/webguidelines/topten.html">Low Bandwidth Guidelines</a></li>
<li><a href="https://solar.lowtechmagazine.com/2018/09/how-to-build-a-low-tech-website/">How to Build a Low Tech Website</a></li>
</ul>
<h2>Blogs</h2>
<ul>
<li>
<p><a href="https://www.marginalia.nu/log/">Marginalia</a></p>
</li>
<li>
<p><a href="https://sive.rs/">Derek Sivers</a></p>
</li>
</ul>
<footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>