
<head>
<title>Do Your Own Research (Feck What Jonathan Blow Thinks)</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Do Your Own Research (Feck What Jonathan Blow Thinks)</h1>
<h4 id="date">2024-12-09</h4>
<h2>The Shite Talk</h2>
<p>I listen to far too much programming shite talk on the internet. Twitter opinions. YouTube opinions. Hacker News opinions. The whole feckn lot. I feel like I am constantly steered by it. Most of the shite talk comes from people with far more experience than I do and some of it is probably very valid. But also, who knows? It could be a load of useless nonsense.</p>
<p>Even if I can pull out the most truthful and wise morsels of signal from the noise, how good of a programmer am I ever going to be if I just parrot off what I have read online? Not very good probably. I'm about 2 questions away from not knowing what I'm talking about because I haven't done my own research.</p>
<p>I often feel guilty or ashamed for the things that I try out and work on. Guilty because it doesn't line up with what I've read someone say online. It's probably &quot;wrong&quot; or I am using &quot;the wrong tool for the job&quot; or that my architecture is not solving the problem optimally or some shite like that.</p>
<h2>2 Quick Examples</h2>
<ol>
<li>
<p>I learned about ECS a few years back and wanted to try out the concept. However, throughout the experience I am reading <a href="https://x.com/Jonathan_Blow/status/1427358365357789199">tweet</a> after <a href="https://x.com/Jonathan_Blow/status/1427357521371549705">tweet</a> about why ECS is a waste of my time. The thoughts are again, probably valid, but then I get more decision paralysis when my brain starts telling me that I'm wasting my time. But the point is to learn about ECS and what is good and bad about it. Ignore Jonathan Blow and do your own research.</p>
</li>
<li>
<p>Recently, I have seen some cool things with using Ruby for game development and I want to try it but DragonRuby in particular seems to have some neat things going on (fast iteration time, hot reloading, neat live console, apparently Ruby is nice to write). But by even writing that I feel like I will be forever put in the game developer bin. Who on earth would make a game in a slow yoke like Ruby? But I'm going to hold fast and follow my enthusiasm. Maybe it will lead to a new world of productivity. Or maybe I'll find some dealbreaking cons for me. Whatever happens, I'll have reached my own conclusions.</p>
</li>
</ol>
<h2>Its OK</h2>
<p>This little piece is a reminder to myself that its OK to go do the stupid thing. I'll learn my own way, using real experiences to form opinions and build my preferences. And who knows, maybe that will lead to some other discoveries that online ranters aren't going to see because they are too busy (Jonathan) blowing hot air up each others arses.</p>
<p>Feck Jonathan Blow for his know it all rants condescending on us all as if we are thick eejits. I'm still going to listen to the bollix because he is class but I am also not going to feel bad for trying out what he thinks is stupid. I'll learn me own way what works best for me and if I learn from experience why something doesn't work, then that's also class and I now have another bit of tested knowledge in the bank.</p>
<p>Dog bless</p><footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>