
<head>
<title>James Poole's Game Dev Bits</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<div id="category-list">
<h2>Give Me Strength Devlog</h2>
<ul>
<li><a href="./gms-release.html">Releasing Give Me Strength Today - [15 August 2021]</a></li>
<li><a href="./gms-dl-3.html">Give Me Strength Devlog 3 - [15 May 2021]</a></li>
<li><a href="./gms-dl-2.html">Give Me Strength Devlog 2 - [22 November 2020]</a></li>
<li><a href="./gms-dl-1.html">Announcing Give Me Strength - [8 October 2020]</a></li>
<li><a href="./nr3.html">Game Number 3 - [1 August 2020]</a></li>
</ul>
</div>
<footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>