
<head>
<title>Give Me Strength Devlog 3</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Give Me Strength Devlog 3</h1>
<h4 id="date">2021-05-15</h4>
<p>I have been working on Give Me Strength for almost a year now and we still have a small way to go.</p>
<p>The bulk of the groundwork was done in 2020 and 2021 has been focused on improving and refining the experience of playing the game. I have left my last job in the last few weeks so I now have a couple of months where I can focus my time on the things that I have wanted to work on with this.</p>
<p>We are wrapping up the last things like final bug fixes and getting the promotional material ready for the game and we can then push it into the world.</p>
<p>There is also a phenomenal original dynamic soundtrack from Laura Ryder that will be in the game and its going to be awesome!</p>
<h1>New Projects</h1>
<p>I am currently thinking about what I want to work on next once I can get Give Me Strength out of my head. I have a couple of thoughts for prototypes to try out and see what might work. I would quite like to make this work more public to let anyone who is interested in the process see how I may go about things.</p><footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>