
<head>
<title>Releasing Give Me Strength Today</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Releasing Give Me Strength Today</h1>
<h4 id="date">2021-08-15</h4>
<p><img src="../images/gms_release.png" alt="GMS" /></p>
<p>Proudly made in Limerick City, Ireland, I am delighted to say that Give Me Strength is out today, August 14!</p>
<p>I am constantly struggling with myself when I am making games or anything creative and this piece has ended up being about that. It is a short, experimental game where the player can go about the place and be barraged by my voice and the most amazing soundtrack from Laura Ryder.</p>
<p>It is completely different to anything I have made before and I believe that it is a very unique experience. Its weird and it won't be for everyone but if you would like to try out a 10 minute weird game, I hope you give it a go and get something from it!</p>
<p>The game is available on <a href="https://jamespoole.itch.io/give-me-strength">itch.io</a> and you can find more information on <a href="http://james.poole.ie">my website</a></p>
<p>It was supported by the Limerick Culture and Arts Office and Creative Ireland.</p>
<footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>