
<head>
<title>Give Me Strength Devlog 2</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Give Me Strength Devlog 2</h1>
<h4 id="date">2020-11-22</h4>
<p><img src="images/cover_2.png" alt="GMS" /></p>
<p>It is November and I am about 5 months into the development of my third game, Give Me Strength.</p>
<p>I have built out the chapters for the game and it is playable from start to finish although in not a very complete form. It is looking like it will be a short 5 to 10 minute playthrough. I would like if it was a bit longer but my goal now is to make that time worthwhile and provide something new for people to experience that they may not have seen before.</p>
<p>Each chapter has a concept that belongs to it and I am working to capture those concepts as best I can along with fixing the bugs that come along that.</p>
<p>The audio is going to be core to the experience and is still in the planning stages. We are putting together a plan for this and will start the recording in about a weeks time. I have some great help from friends in this department so I am excited (while nervous) to get stuck into that.</p>
<p>At this point I really have zero idea if this is something that I am going to be proud of or embarrassed about. It is short, weird and not a traditional game.</p>
<pre><code>“The moment that you feel, just possibly, you are walking down the street naked, exposing too much of your heart and your mind, and what exists on the inside, showing too much of yourself... That is the moment, you might be starting to get it right.”
</code></pre>
<p>I heard Neil Gaiman saying this recently in a podcast and it is what I needed to hear at this point of development to keep me going.</p>
<p>I am committed to finishing this thing just to be able to say that I weathered the doubt and shipped the work. It may be awful but what is important to me right now is that I bring it to a conclusion that I am happy with. Hopefully people will enjoy it but if they don't, hopefully they will like the next thing!</p>
<p>Expected release time is January 2021 and I will keep ye posted with the progress in the meantime.</p><footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>