
<head>
<title>James Poole's Game Dev Bits</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<script data-goatcounter="https://jamespoole.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<img style="max-width: 308px; max-height: 308px;" src="./images/james.png" alt="James">

<h2>Welcome to my internet!</h2>

<p>It is built with <a href="http://html.energy" target="_blank">HTML energy</a>!</p>

<p>My goal for this space is to show what I work on and share what I find interesting.</p>

<p>Expect the writings to be <a href="./scrappy.html">scrappy</a>!</p>

<p>Welcome in! Check out some other <a href="./bookmark.html">cool sites</a>.
<div id="recent-posts">
<h2>Recent Posts</h2>
<ul><li><a href="./06032025.html">Steam account created!</a></li>
<li><a href="./05032025.html">Messing With Boids</a></li>
<li><a href="./wee-short.html">Wee Boats is a Short Game</a></li>
<li><a href="./wee-wheel-1.html">Introducing the Wee Wheel!</a></li>
<li><a href="./scrappy.html">Sharing Scrappily</a></li>
<li><a href="./live-1.html">Day One Live Coding</a></li>
<li><a href="./dyor.html">Do Your Own Research (Feck What Jonathan Blow Thinks)</a></li>
<li><a href="./wee-online.html">Online Boating</a></li>
<li><a href="./stuart-1.html">How We Arrived at Stuart's Perfect Day</a></li>
<li><a href="./wee-testing.html">Learnings from Playtesting Wee Boats</a></li>
<a href="./all.html">» all posts</a></ul>
</div>
<footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>