
<head>
<title>Day One Live Coding</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Day One Live Coding</h1>
<h4 id="date">2024-12-23</h4>
<p>Over the last few months I have been becoming more aware of the live coding world.</p>
<p>The first algorave that I went to was at <a href="https://piksel.no/">Piksel Festival</a> this year.</p>
<p>It was unreal! Improvised pieces, prepared pieces. Everything welcome and everything bringing something different.</p>
<p>I am writing this at a point where I think its unreal, but have not tried it out myself yet.</p>
<h1>Why am I drawn to it?</h1>
<ul>
<li>It can be chaotic.</li>
<li>It can be structured.</li>
<li>Experimentation is encouraged.</li>
<li>Collaboration is encouraged.</li>
<li>It is vulnerable.</li>
<li>It is free jazz.</li>
<li>It is programming for fun.</li>
</ul>
<h1>Tools I am trying out</h1>
<h2><a href="https://strudel.cc">Strudel</a></h2>
<p>A web based tool for live coding music!</p>
<p>I've tried it for the first time this morning and this was the (<a href="https://www.todepond.com/pondcast/demo/">scrappy fiddle</a>) <a href="https://strudel.cc/?8dDojaQCqLdB">result</a></p>
<p>(Here are the two lines in case the link dies at some stage:)</p>
<pre><code>$: n(&quot;[4*&lt;4 1 2&gt;] &lt;6 [~ 6]&gt; ~ 5&quot;).sound(&quot;jazz&quot;).scope()
$: s(&quot;cp hh sd hh&quot;).bank(&quot;&lt;RolandTR909 RolandTR505&gt;&quot;).fast(2).mask(&quot;&lt;0 1&gt;/2&quot;)
</code></pre>
<h2><a href="https://hydra.ojack.xyz">Hydra</a></h2>
<p>A web based tool for live coding visuals!</p>
<h2><a href="https://flok.cc">Flok</a></h2>
<p>A web based tool for collaborating with others using Strudel, Hydra and some others.</p>
<footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>