
<head>
<title>Game Number 3</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Game Number 3</h1>
<h4 id="date">2020-08-01</h4>
<p>There is another game in the works! This time I have no clue if it is going to be any good at all. It is a slightly larger project than my previous outings so I am still trying to figure out how to go about it. I haven't fully wrapped my head around it yet but my hope for writing down these bits is to help clear my thoughts.</p>
<p>The goal of the game is to create an interactive environment to explore the mess of thoughts that we get on a daily basis. I can get easily carried away with negative or emotional thoughts and this is a project to try and make me pause and take control of some of them.</p>
<p><img src="images/post_1_dance_1.gif" alt="Dancing Character" /></p>
<p>While that is my goal and direction, how it will take shape as an interactive experience, I am still unsure. The initial brainstorming of a project can be fun and inspirational as you go off in different directions coming up with new and exciting ideas. Sitting down to make that a reality however is what I am finding so tough.</p>
<p> What is the game at its core?</p>
<p> How is the world going to look and feel?</p>
<p> What will the players find engaging in the world?</p>
<p><img src="images/post_1_dance_2.gif" alt="Dancing Character" /></p>
<p>I am currently creating a prototype of the world that is in my head to try and help answer some of these questions. A small space that contains the core ideas to be explored and give a representation of what the full game will be like. From this, I can get a feel of what works and what doesn't. I still have questions that I haven't fully solved but my hope is that by building upon this prototype, new ideas will come and go and one or two of them might give me something that will bring me forward.</p><footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>