
<head>
<title>My Objectives</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>My Objectives</h1>
<h4 id="date">2024-04-09</h4>
<ul>
<li>To be able to be expressive through software.</li>
<li>To be in control of the software that I write.</li>
<li>To understand the software that I write.</li>
<li>To create software that is sustainable.</li>
<li>To have the software that I write survive a long time.</li>
<li>To share what I learn with others so that we can all gain more power together.</li>
</ul>
<p>(Created 9th April 2024)</p>
<p>Recently, I have been going down all sorts of rabbit holes. The Indie Web, Gopher, Gemini, Solar servers, Programming languages like Forth, Uxn and Joy, microcontrollers and loads other things. These all pull me away from the things that I <em>should</em> be working on which makes me go &quot;ahhhh!&quot; but they all seem so exciting in the moment (and I realise how boring this all sounds)!</p>
<p>I was trying to take a step back and figure out why I get so enthusiastic about these topics which lead me to come to the list of objectives up above.</p>
<p>I feel like the direction of most modern technologies is moving in a way that is opposite to almost all of these objectives. We are losing control over our software and hardware. Software and hardware is becoming needlessly complex. Our software and hardware is very quickly becoming obsolete. It's important that we push back against this and be in the driving seat of the technology we use.</p>
<p>When I go into these rabbit holes, instead of coming out of them and losing whatever I find to the ether, I would like to document what I learn and share them in case others find anything interesting in them.</p>
<p>All the best</p>
<h3>Some Neat Readings</h3>
<ul>
<li>
<p><a href="https://100r.co/site/weathering_software_winter.html">Weathering Software Winter</a></p>
</li>
<li>
<p><a href="https://solar.lowtechmagazine.com/about/what-is-low-tech-magazine/">Low-Tech Magazine</a></p>
</li>
</ul>
<footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>