
<head>
<title>Sharing Scrappily</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Sharing Scrappily</h1>
<h4 id="date">2024-12-24</h4>
<p>I need to lower the barrier to entry for publishing to this site.</p>
<p><a href="https://sive.rs/getme">The more I share, the better.</a></p>
<p>I need to be ok with posting <a href="https://www.todepond.com/pondcast/demo/">scrappy</a> writings to allow the sharing to flow and not get blocked.</p>
<p>Individually, a lot of the scrappy writings may be useless but hopefully, with time, they will coagulate into something useful to explore.</p>
<p>My favourite websites are the ones that are dense with ideas that allow me to get lost in a nest of links. My goal is to create something like that and to get as much of what I have learned out in the open as possible!</p>
<p>Come on in!</p><footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>