
<head>
<title>Creating our own small tools to make our games</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Creating our own small tools to make our games</h1>
<h4 id="date">2024-03-13</h4>
<h2>What's The Problem?</h2>
<p>The Unity engine is a huge blob that I don't understand. The Godot engine is a smaller open source blob which is better but there are still lots of checkboxes to learn and scenes and nodes and stuff.</p>
<p>Even after learning enough to get by in these engines, I'm still only using about 20% of what they can do. The rest doesn't apply to me and is sitting there clogging up my game builds with hundreds of MB and draining me laptop battery. G'way with that.</p>
<h2>A Nudge in a New Direction</h2>
<p>I was listening to an episode (that I think was taken down because I can't find it anymore) of <a href="https://podcasts.apple.com/us/podcast/gamedev-breakdown/id1262767515">Gamedev Breakdown</a> where the presenter Todd Mitchel spoke about creating games from the ground up using XNA. He also spoke about a fellow called <a href="https://michaelarts.net/">Michael Hicks</a> who creates his own games and also has documented some of his own self-made tools on YouTube that went into his process.</p>
<p>This resonated with me a lot and sent me down a rabbit hole that gave me a bit of hope. Still, for some reason it felt a little out of reach. XNA and Windows Forms, the tools talked about mostly here, were not my comfort zone and I didn't jump head first into them.</p>
<h2>Enter Raylib</h2>
<p>A little while after, I came across <a href="https://www.raylib.com/">Raylib</a> which felt perfect for making game tooling. It's very similar to XNA, except in C as opposed to C#. It has a simple little API which gives lots of neat functionality like drag dropping files onto the window and drawing shapes onto the screen. Saying this, Raylib isn't the point of this post. It could be anything. It was just the piece of the jigsaw that made it seem possible for me to make my own tools. If you're on a similar buzz as me and want to try out a different tool, use whatever gets you hyped!</p>
<h2>My First Foray into Creating Tools</h2>
<p>For the game that myself and my friends are working on at the moment, <a href="https://jamespoole.itch.io/wee-boats">Wee Boats</a>, we quickly reached a bit of a snag that was how we are creating our map. We are using a JSON config file that defines the locations of every structure in the world. This is read by our game and it constructs the world on launch. Each structure has a location associated with it that has an X and Y coordinate. Editing this in text was grand when we had two or three structures but when it went any larger than that, it was impossible to use.</p>
<p>Whats this? I hear a tool coming on!</p>
<h2>Introducing the Wee Boats Map Editor! Come on ye'boya</h2>
<p>Using Raylib, we made a simple program that would read our JSON config and give us a visual representation of our world and easy ways to edit it.</p>
<p>Here is how it looks at the moment:
<img src="images/Pasted%20image%2020240319205929.png" alt="Map Editor" /></p>
<p>Each circle represents a structure in the Wee Boats world and through here we can move them around, add new structures and do other common actions that we are building up over development. We can then export it and it updates the JSON config that is then read by the game itself.</p>
<p>Here is a small example of some of those structures in game:
<img src="images/Pasted%20image%2020240319210332.png" alt="Game Example" /></p>
<h2>What are the best bits about this tool?</h2>
<ul>
<li>I understand how it works.</li>
<li>It's small. It does exactly what we need it to do and speeds us up a great deal.</li>
<li>We can quickly extend it to add new functionality.</li>
<li>We can quickly adapt it to work with future projects.</li>
<li>It was great craic to make.</li>
</ul>
<h2>A Small Toolier Future</h2>
<p>Making this Map Editor and the game around it has been a blast so far. Of course I am not going to be able to build as large and amazing games as people might be able with Unity but the feeling of understanding and mastery I get from this is amazing.</p>
<p>The idea of working in C freaked me out before. It sounds terrifying needing to worry about memory and all of this jazz. But that has rarely been an issue in making these. In fact, I have been moving much faster than I am used to. I feel like I have been tricked into thinking that big tools like Unity make the process easier but in reality, they have been bogging me down all along.</p>
<p>Us game makers don't need to be dependent on a company like Unity to be able to create work that we are proud of. Fuck them. Lets make and own our own stuff.</p>
<p>Maybe I am in a honeymoon phase and I am cruising for some doomed pit but where I am sitting right now, I have never felt better about making silly games.</p>
<footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>