
<head>
<title>How We Arrived at Stuart's Perfect Day</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>How We Arrived at Stuart's Perfect Day</h1>
<h4 id="date">2024-10-13</h4>
<p>We are a team of three based in Norway. This was our first game jam together so we are far from being seasoned jammers with effective plans and routines (We have none! :D). Our aim was to have a bit of fun and see if we could come up with something unexpected over the weekend.</p>
<p>The only prep we had done was from Fredrik, our in-house designer and artist, had done some concept sketches to get a feel for an art style that we wanted to aim for. These were the concepts:</p>
<p><img src="images/concepts.jpg" alt="" /></p>
<p>Saturday morning arrived, along with the theme and we started throwing out ideas around the Tiny Creatures.</p>
<h2>Quick Prototypes</h2>
<p>Fredrik also happens to be lethal at the oul Construct 3. He can bang out 2 prototypes before you can say &quot;So what engine are we using?&quot;. While we sat in the first coffee shop of the weekend, he took one of our early concepts and got a quick version going. We could then see how that played, riff off it and do a good few &quot;what if&quot;s and see where it would lead us.</p>
<p>We went through about 3 or 4 of these.</p>
<p>A platformer...
<img src="images/Squares0.gif" alt="" /></p>
<p>Another platformer...
<img src="images/Squares1b.gif" alt="" /></p>
<p>A circly platformer...
<img src="images/Circles0b.gif" alt="" /></p>
<p>An arty platformer...</p>
<p><img src="images/Pearl.gif" alt="" /></p>
<p>...and they all could have gone somewhere but they weren't lighting our world on fire. Instead of choosing one and going for it like we should have, we decided to park them and try something else.</p>
<p>We returned to Fredrik's concept sketches in search of inspiration and decided to capture the boat sketch in something simple that incorporated some tiny creatures. Fishing game! Lets go! Suddenly this brought life back into the gang imagining the world that could belong to the image.</p>
<p>Saturday evening, in the dark corner of a cafe/bar situation in Bergen, we set off at trying to figure out this world of Stuart and started bringing it all to life.</p>
<p><img src="images/vagal.jpg" alt="" /></p>
<p>At this point we are almost a day down with nothing substantial towards a submit-able project. However, without being able to try out those different ideas quickly, we wouldn't have found Stuart. Being able to test the ideas in reality as opposed to concepts in our heads or on paper was beyond helpful.</p>
<p>For the rest of the jam, we needed to scope down even more than normal since we had about 1 day to get the rest done but we were still able arrive at something that brought us joy!</p>
<p>You can see the Ludum Dare page for Stuart's Perfect Day here: <a href="https://ldjam.com/events/ludum-dare/56/stuarts-perfect-day">https://ldjam.com/events/ludum-dare/56/stuarts-perfect-day</a></p>
<p>And here is a timelapse of Stuart and is world coming to life...</p>
<p><img src="images/StuartsTimelapse.gif" alt="" /></p><footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>