
<head>
<title>Wee Boats is a Short Game</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Wee Boats is a Short Game</h1>
<h4 id="date">2025-01-06</h4>
<p>You can finish Wee Boats in under half an hour. You can spend longer with the world if you would like but you can get the full experience in a short amount of time.</p>
<p>Part of this is to make it realistic for a small team to complete a project like this. Right now, it would be almost impossible for me to create something of a larger scope even with infinite time. The drive required to bring a game project to its completion and release is all too easy lost at some point along the way.</p>
<p>Thankfully, this constraint goes hand in hand with the kind of games that I want to create. It allows for creating games that are concrete experiences. It allows us to focus on a small amount of ideas and explore those in a unique way. The games are therefore accessible to more people because it doesn't require a lot of commitment or complex learning from players to play the games.</p>
<p>Games can be 5 minutes long. If that's the amount of time for the experience to be felt then that's perfect.</p>
<p>Games don't have to make you feel something intensely to be valid. They can be subtle. Portray a random memory that you want to capture or something like that.</p>
<p>Games don't have to have an objective or a puzzle to complete. Gway with that.</p>
<p>Wee Boats is designed to be a short moment of exploration. A time of surprises that hopefully give you a couple of smiles, laughs and &quot;aha thats gas!&quot; moments while you play.</p>
<p>Others have written about the subject much better than I can. Some of my favourite writings on the topic are:</p>
<ul>
<li><a href="https://stuffedwomb.at/the_small_game.html">Stuffed Wombat</a></li>
<li><a href="http://jtroyer.me/">John Tryer (Link seems to be down :( ))</a></li>
</ul><footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>