
<head>
<title>Announcing Wee Boats</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Announcing Wee Boats</h1>
<h4 id="date">2023-10-12</h4>
<p>Whats going on? We're making a new game! Wahey! And there's a crew of us putting this one together! <a href="https://lauraryder.bandcamp.com/">Laura Ryder</a>, <a href="https://brentendo.itch.io/">Brendan Hewson</a> and myself are working on this and we're going to make something class!</p>
<p>The game is called Wee Boats! I'm so hyped with how its shaping up and I want to share more about how it's coming along!</p>
<p><img src="images/orange.png" alt="Wee Boats" /></p>
<p><img src="images/wee_boats_1.png" alt="Gameplay Image 1" /></p>
<p>Wee Boats will be there to provide a short, calm experience that is more an ambient bob about a body of water than a game. It's pretty simple. You control a small ship and can explore a world that is full of character and little surprises. Your only other control is that you can honk. Honk to yourself. Honk at other boats. Honk at lighthouses. The potential is endless! We are also creating a logbook that will keep track of the things that you have honked at. A nice record of your time boating at a wee scale.</p>
<p><img src="images/wee_boats_2.png" alt="Gameplay Image 2" /></p>
<p>Over the next few months, we want to explore different aspects of the making of the game as it develops. I find it tough opening up about the development because its exposing this small idea out to the world. Some of my current concerns are:</p>
<ul>
<li>Is it cool enough to get people excited?</li>
<li>Will we be able to get it finished?</li>
<li>Will I be able to keep up posting about it?</li>
<li>Will I have enough interesting things to talk about through the process of development?</li>
<li>Aaaaaaaa</li>
</ul>
<p>However, let's give it a whack anyway!</p>
<p>As an experiment and a challenge, I've opted to use Bevy as the game engine and write it as Rust. Its been mostly great and I'm now even happier with the decision after all the Unity shite. This is an open source engine and we own the game! I'll talk more about Bevy in another post because it's great.</p>
<p>So where are we at today?
We first started programming the game in March 2023. 6 months, feck. There has been a couple of main areas worked on so far:</p>
<ul>
<li>Building out the systems to display the sprites using a method called sprite stacking to create a pseudo 3D look.</li>
<li>Building out some small tools to make development flow a little easier.</li>
<li>Adding animations and interactions for birds and structures.</li>
<li>Adding a very primitive logbook and UI.</li>
<li>Testing out audio directions for the soundscapes.</li>
</ul>
<p>What's up next?</p>
<ul>
<li>Adding support for underwater creatures and things to pop up and say hello.</li>
<li>Making the logbook look nice.</li>
<li>Building more world!</li>
<li>Adding interactions to all of the structures and animals added so far.</li>
</ul>
<p>Cheers for reading. Sign up to the <a href="https://mailchi.mp/18efdca94182/newsletter">newsletter</a> to receive the odd update about my work and I'll let you know when you can get wee boating!</p>
<p>You can also find the pre-release game page on <a href="https://jamespoole.itch.io/wee-boats">Itch</a> where you can follow the development.</p>
<footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>