
<head>
<title>Introducing the Wee Wheel!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Introducing the Wee Wheel!</h1>
<h4 id="date">2024-12-26</h4>
<p>Over the last few months, we have brought early versions of Wee Boats to two different events where it would be playable on an exhibition floor. This poses some challenges to make the game fit the environment. I personally have a tough time engaging with games or interactive pieces in exhibition situations.</p>
<p>I walk up to a game...</p>
<ul>
<li>What are the controls?</li>
<li>Is the game in the middle of somebody else's previous play session?</li>
<li>Do I need to go through a tutorial?</li>
<li>What is the time commitment?</li>
<li>Am I able take part without blocking out those around me?</li>
</ul>
<p>With all these small mental barriers, I often will pass the games by with the aim of coming back when I am in the zone. I'm not sure if others feel the same way but if its something I definitely have noticed in myself at game festivals so maybe we can try and reduce that feeling for people walking past Wee Boats.</p>
<p>With this in mind, how can we make Wee Boats shine at events? We want people to be able pick it up at any point and feel like they can immediately take part. No controls to learn. No backstory or context required to understand whats going on. Just go boating and get lost in the exploration that comes!</p>
<h1>Bring in the Wee Wheel!</h1>
<p>The largest part of addressing this is with our handmade ship's wheel called the Wee Wheel! For exhibitions, instead of using a keyboard or a game controller, Wee Boats has been playable with this papier mache wheel.</p>
<p>We have found that people understand how to play from just seeing this at a distance. The goal is to signify that there are no complicated controls to learn, just grab the wheel and you are gaming! This has been extremely effective and has brought us a lot of joy seeing how people play with the game.</p>
<p>Laura and Brendan made the first version of the Wee Wheel that we brought to Berlin. This is us posing with our work of art.</p>
<p><img src="images/wee_team_amaze_dither.png" alt="" />
<img src="images/berlin_wheel.jpg" alt="" />
Due to logistical issues with getting this wheel to Norway, I made another version of the wheel for the Piksel Festival. This means that now at the time of writing, there are two Wee Wheels in existence! What a time to be alive!</p>
<p><img src="images/piksel_wheel.png" alt="" /></p>
<h2>Handmadeness</h2>
<p>The Wee Wheel is unashamedly toy like. It is made of cardboard, paper, masking tape and glue. It is playfully painted with acryllic paints and fat brushes. This is counter to the &quot;gamer&quot; style that computing is often associated with. RGB lights, hard pointed edges, neon green. Let's bring cardboard and duct tape into computing! DIY Punk computing! This scrappiness also is a signifier of a low barrier to entry and that this is something for everyone, not just &quot;gamers&quot;.</p>
<p><img src="images/piksel_wheel_wip_1.png" alt="" /></p>
<p>In an upcoming piece, I will write a bit more about how we actually made the wheel. Little bit of techin' and a little bit of paperin'.</p>
<p>Wee Boats is not out yet but you can sign up to the newsletter <a href="https://mailchi.mp/18efdca94182/newsletter">(here!)</a> to get a heads up when its coming out and you can check out the game page on <a href="https://jamespoole.itch.io/wee-boats">Itch.io here</a></p><footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>