
<head>
<title>Online Boating</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>Online Boating</h1>
<h4 id="date">2024-10-28</h4>
<p>Wee Boats is rocketing to the onlines! Buckle up...Its gonna get mildly social!</p>
<p>We are still working on getting Wee Boats ready for release. It's looking like it could be early 2025 at this stage but we'll see how we get on! We have been working on some online components for the game so I thought I'd give a little overview of them here.</p>
<p>First up, it will be possible to cruise around with other online boats! Oh god ya. Bring a friend or two along for the journey to explore the world! Encounter other captains making their way through the oceans. Get out of the way Sea of Thieves, Wee Boats is coming to town. We are not adding an in game chat but you will be able to honk at each other repeatedly and constantly. Sure what else could one ever need?</p>
<p>Secondly we have our messages in bottles. This is a way of ephemerally communicating with other future boaters. Find messages left by boaters past and cast out your own messages to wish future boaters well. Maybe pass on a secret that you have discovered?</p>
<p><img src="images/ring.png" alt="" /></p>
<p>It is important to us that our games can be played long into the future so Wee Boats isn't dependent on the online servers being online in order for the game to work. If we need to bring the servers down for whatever reason in the future, you will still be able to experience the entire game without these online components. The internet folk like to call this local-first computing I do believe.</p>
<p><a href="https://jamespoole.itch.io/wee-boats">Find the game page here and give it a follow</a></p>
<p><a href="https://mailchi.mp/18efdca94182/newsletter">Sign up the newsletter here for the odd update</a> (I still haven't mailed about anything. Its only for the big updates!)</p>
<p>Cool, thats it for now. See yis soon!
James</p><footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>