
<head>
<title>The Middle of the Process</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<h1>The Middle of the Process</h1>
<h4 id="date">2024-02-11</h4>
<p>I'm hitting a tricky part of the process with Wee Boats. We have made a lot of process and have gotten to about 50%~60% of completion, I would say.</p>
<p>At the start of the project, there were clear things to work on.</p>
<p>Then it becomes less clear as most of the elements are implemented to a certain degree.</p>
<p>What I am seeing as the main next parts to work on are:</p>
<ol>
<li>Refactoring poorly written code.</li>
<li>Fixing bugs that have been lying around.</li>
<li>Improving poorly performing aspects of the code.</li>
<li>Improving features.</li>
</ol>
<p>Making sure that the code is easily built upon is super important for my own motivation. If I can feel myself saying &quot;Oh god, I'll have to tackle that&quot; in a disheartened way, that's enough to put me off starting the job and then that's a cycle that will continue. At this point of the project, motivation is super important to me because I want to move the project forward and get it finished.</p>
<p>I tend to like refactoring my code. I find it rewarding as you chip away through parts of the codebase and you make things better. I'm going to take a small amount of time and put it towards improving everything that I have in front of me. Make it easier to fix bugs, improve performance and add features going forward.</p>
<p>I have heard people say that they refactor after every session of programming. I should probably do that a bit more.</p>
<ul>
<li>Sometimes lack of time makes that tricky.</li>
<li>Sometimes its a higher level view when there are more pieces in place that make refactoring easier.</li>
<li>Sometimes I will have learned something new after a period of time that I can go back and improve</li>
</ul><footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>