
<head>
<title>James Poole's Game Dev Bits</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="container"><header>
<ul>
<li><a href="./index.html">Blog Home</a></li>
<li><a href="./all.html">All Posts</a></li>
<li><a href="./categories.html">Categories</a></li>
<li><a href="/index.html">My Main Site</a></li>
<li><a href="./feed.xml">RSS</a></li>
<li><a href="https://jamespoole.itch.io">Itch.io</a></li>
</ul>

</header>
<div id="category-list">
<h2>Wee Boats Devlog</h2>
<ul>
<li><a href="./06032025.html">Steam account created! - [6 March 2025]</a></li>
<li><a href="./wee-short.html">Wee Boats is a Short Game - [6 January 2025]</a></li>
<li><a href="./wee-wheel-1.html">Introducing the Wee Wheel! - [26 December 2024]</a></li>
<li><a href="./wee-online.html">Online Boating - [28 October 2024]</a></li>
<li><a href="./wee-testing.html">Learnings from Playtesting Wee Boats - [23 June 2024]</a></li>
<li><a href="./wee-3-memory.html">Mind Your Memory! A Tiny Bevy Performance Investigation Story. - [17 April 2024]</a></li>
<li><a href="./wee-2.html">Submitting Wee Boats to A Maze 2024 - [3 April 2024]</a></li>
<li><a href="./small-tools.html">Creating our own small tools to make our games - [13 March 2024]</a></li>
<li><a href="./stack.html">How we are using Sprite Stacking for Wee Boats - [11 February 2024]</a></li>
<li><a href="./wee-4.html">The Middle of the Process - [11 February 2024]</a></li>
<li><a href="./wee-1.html">Announcing Wee Boats - [12 October 2023]</a></li>
</ul>
</div>
<footer>
<hr />
<p>This blog is written by <a href="https://twitter.com/itsapooleparty">James Poole</a>, built with my <a href="https://github.com/JamesGallagherPoole/blog-builder">blog-builder</a>.</p>
<p>Let me know you found this corner of the internet:  james at poole dot ie</p>
</footer>
</div></body>