<script data-goatcounter="https://jamespoole.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<img style="max-width: 308px; max-height: 308px;" src="./images/james.png" alt="James">

<h2>Welcome to my internet!</h2>

<p>It is built with <a href="http://html.energy" target="_blank">HTML energy</a>!</p>

<p>My goal for this space is to show what I work on and share what I find interesting.</p>

<p>Expect the writings to be <a href="./scrappy.html">scrappy</a>!</p>

<p>Welcome in! Check out some other <a href="./bookmark.html">cool sites</a>.