body {
    background-color: greenyellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h1,
h2,
h3 {
    text-align: center;
    color: #333;
    font-family: serif;
    font-weight: bold;
    text-decoration: none;
}

section {
    border-style: dashed;
}

img {
    max-width: 60%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    font-size: large;
}